.game_container {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.menu__container {
    display: grid;
    width: 100vw;
    max-width: 750px;
    min-width: 320px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.game__button {
    padding: 10px 22px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 40px;
    color: var(--color-white);
    text-align: center;
    
}

.menu__button {
    width: 100px;
    background-color: var(--color-bg-variant);
}

.restart__button {
    width: 115px;
    background-color: var(--color-bg-variant);
}

.menu__container .main__logo{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 2px;
}

.game__container{
    position: relative;
    margin: 45px 0 105px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 165px;
    margin: 45px;
    border-radius: 20px;
    border: 3px solid;
    border-bottom: 15px solid;
    background-color: var(--color-white);
}

.player__card img {
    position: absolute;
    width: 50px;
    left: calc(50% - 25px);
    top: -25px;
}

.player__card h2 {
    margin-top: 32px;
    font-size: 2rem;
    text-align: center;
}

.player__card p {
    font-size: 5.5rem;
    font-weight: 600;
    text-align: center;
}

.game__board{
    position: relative;
}

.black-board{
    position: absolute;
    left: 0;
    top: 1.4px;
    z-index: -1; 
}

.winner-color {
    position: absolute;
    width: 100%;
    height:calc(50% - 245px);
    bottom: 0;
    z-index: -2;
    border-radius: 60px 60px 0 0;
    background-color: var(--color-bg-variant);
}

.winner-red {
    background-color: var(--color-red);
}

.winner-yellow {
    background-color: var(--color-yellow);
}

.timer__container{
    position: absolute;
    width: 200px;
    height: 165px;
    bottom: calc(50% - 410px);
    left: calc(50% - 100px);
    color: var(--color-white);
}

.timer-2 {
    color: var(--color-dark);
}

.timer {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.timer h3 {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    text-align: center;
}

.timer p {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0;
    font-size: 5.5rem;
    font-weight: 600;
    text-align: center;
}

.winner__container{
    position: absolute;
    width: 290px;
    height: 180px;
    bottom: calc(50% - 430px);
    left: calc(50% - 145px);
    color: var(--color-dark);
}

.winner {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.winner h3 {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    text-align: center;
}

.winner p {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 0;
    font-size: 5.5rem;
    font-weight: 600;
    text-align: center;
}

.winner button {
    position: absolute;
    top: 60%;
    left: calc(50% - 67px);
    background-color: var(--color-bg-variant);
}