.game__board .column-1 {
    position: absolute;
    width: 85px;
    height: 584px;
    top: 10px;
    left: 10px;
}

.game__board .column-2 {
    position: absolute;
    width: 85px;
    height: 584px;
    top: 10px;
    left: 98px;
}

.game__board .column-3 {
    position: absolute;
    width: 85px;
    height: 584px;
    top: 10px;
    left: 186px;
}

.game__board .column-4 {
    position: absolute;
    width: 85px;
    height: 584px;
    top: 10px;
    left: 274px;
}

.game__board .column-5 {
    position: absolute;
    width: 85px;
    height: 584px;
    top: 10px;
    left: 362px;
}

.game__board .column-6 {
    position: absolute;
    width: 85px;
    height: 584px;
    top: 10px;
    left: 450px;
}

.game__board .column-7 {
    position: absolute;
    width: 85px;
    height: 584px;
    top: 10px;
    left: 538px;
}

.disk {
    position: absolute;
    z-index: -1;
}

.test-disk-container {
    position: absolute;
    z-index: -1;
}

.marker {
    position: absolute;
    top: -40px;
    width: 40px;
    height: 40px;
}

.winner-circle {
    position: absolute;
    height: 40px;
    width: 40px;
}