:root {
  --color-bg: #7A45FF;
  --color-bg-variant:#5C2DD4;
  --color-yellow: #FFCE67;
  --color-red: #FD6687;
  --color-white: #ffffff;
  --color-dark: black;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  margin: 0 auto;
}

p{
  font-size: 5.5rem;
}

h1 {
  font-size: 6rem;
}

h2{
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}
