.winner__container{
    position: absolute;
    width: 290px;
    height: 180px;
    bottom: calc(50% - 430px);
    left: calc(50% - 145px);
    color: var(--color-dark);
}

.winner {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.winner h3 {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    text-align: center;
}

.winner p {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 0;
    font-size: 5.5rem;
    font-weight: 600;
    text-align: center;
}

.winner button {
    position: absolute;
    top: 60%;
    left: calc(50% - 67px);
    background-color: var(--color-bg-variant);
}

.winner button:hover {
    background-color: var(--color-red);
    cursor: pointer;
}

@media (max-width: 1060px) { 
    .winner__container {
        bottom: calc(50% - 500px);
    }
}

@media (max-width: 640px) {
    .winner__container {
        bottom: -17vh
    }
}