.rules__container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rules__content {
    position: relative;
    width: 85%;
    max-width: 500px;
    height: fit-content;
    min-height: 600px;
    padding-bottom: 20px;
    background-color: var(--color-white);
    border: 3px solid var(--color-dark);
    border-bottom: 15px solid;
    border-radius: 40px;
}

.rules__content h1 {
    text-align: center;
    margin: 40px 0;
}

.rules__content h2 {
    color: var(--color-bg);
    font-size: 2.2rem;
    margin-left: 30px;
}

.rules__content p {
    font-size: 1.6rem;
    color: var(--color-gray);
    margin: 30px;
}

.rules__content ol {
    margin: 30px;
    font-size: 1.6rem;
}

.rules__content ol li {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: var(--color-gray);
}

.rules__content ol li span {
    padding: 0 20px 0 0;
    font-size: 1.8rem;
    font-weight: 600;
    align-self: flex-start;
}

.ok-button {
    position: absolute;
    height: 84px;
    width: 80px;
    left: calc(50% - 40px);
    bottom: -50px
}

.ok-button circle:hover  {
    stroke: var(--color-bg);
}

